h1 {

    background-color: black;
    color: yellow;
    height: 100px;
    width:60%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

img {
    width: 175px;
    height: 150px;
}

.pokecontenedor {
background-color: rgba(21, 255, 0, 0.126);
}